.parallax {
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

.link-underline {
	border-bottom-width: 0;
	background-image: linear-gradient(transparent, transparent),
		linear-gradient(#fff, #fff);
	background-size: 0 2px;
	background-position: 0 100%;
	background-repeat: no-repeat;
	transition: background-size 0.5s ease-in-out;
}

.link-underline:hover {
	background-size: 100% 2px;
	background-position: 0 100%;
	text-decoration-line: none;
}

.cursor-typing::after {
	content: "|";
	animation: blink 1.1s infinite;
}

@keyframes blink {
	50% {
		opacity: 0;
	}
}
